@model Save_Our_Pets.Models.Adopciones

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Adopciones</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Usuarios.nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuarios.nombres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mascota.nombre_mascota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mascota.nombre_mascota)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_adopcion }) |
    @Html.ActionLink("Back to List", "Index")
</p>
