@model IEnumerable<Save_Our_Pets.Models.Adopciones>

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="col-md-12 col-md-offset-0">
        <h2>Adopciones</h2>

        <p>
            @Html.ActionLink("Agregar", "Create")
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Usuarios.nombres)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Mascota.nombre_mascota)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Usuarios.nombres)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Mascota.nombre_mascota)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.id_adopcion }) |
                        @Html.ActionLink("Details", "Details", new { id = item.id_adopcion }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.id_adopcion })
                    </td>
                </tr>
            }

        </table>
        </div></div>